
body {
    background-color: black;
    overflow: hidden;
  }
   
  #board {
    position: relative;
    margin: auto;
    width: 900px;
    height: 600px;
    border: 5px solid white;
  }
  #decoration {
    position: relative;
    margin: auto;
    width: 900px;
    height: 600px;
    z-index: -10;
    
  }
  .paddle {
      position: absolute;
      width: 15px;
      height: 80px;
  }
  
  #paddle1 { 
      background-color: rgb(255, 255, 255);
  }
  
  #paddle2 { 
      background-color: rgb(255, 255, 255);
  }
  
  #ball {
      position: absolute;
      background-color: rgb(255, 255, 255);
      width: 20px;
      height: 20px;
  }

  #paddle1Score {
    right: 210px;
    top: 50px;
    position: absolute;
    font-size: 4.5vw;
    font-family: 'VT323', monospace;
    color: white;
  }

  #paddle2Score {
    left: 210px;
    top: 50px;
    position: absolute;
    font-size: 4.5vw;
    font-family: 'VT323', monospace;
    color: white;
  }

  #paddleWinScreen {
    left: 300px;
    top: 150px;
    position: absolute;
    font-size: 4.5vw;
    font-family: 'VT323', monospace;
    color: rgb(126, 126, 126);
  }

  #playAgain {
    left: 300px;
    top: 350px;
    background-color: rgb(119, 119, 119);
    position: absolute; 
    font-size: 32px;
    font-family: 'VT323', monospace;
    text-align: center;
  }

  #paddle1Title {
    right: 10px;
    position: absolute;
    font-size: 2.5vw;
    font-family: 'VT323', monospace;
    color: white;
  }

  #paddle2Title {
    left: 10px;
    position: absolute;
    font-size: 2.5vw;
    font-family: 'VT323', monospace;
    color: white;
  }

 
  
  
  