body {
    background: rgb(85, 73, 143);
}

.grid {
	width: 300px;
	height: 300px;
	border: solid black 1px;
	display: flex;
	flex-wrap: wrap;
	background-color:black;
}

.grid div {
	width: 20px;
	height: 20px;
}

.invader {
	background-color: purple;
	border-radius: 10px;
	-webkit-box-shadow:0px 0px 40px 4px rgba(162,0,255,0.8);
	-moz-box-shadow: 0px 0px 40px 4px rgba(162,0,255,0.8);
	box-shadow: 0px 0px 40px 4px rgba(162,0,255,0.8);
}

.shooter {
	background-color: rgb(6, 179, 6);
	-webkit-box-shadow:0px 0px 50px 10px rgba(43,255,0,0.9);
	-moz-box-shadow: 0px 0px 50px 10px rgba(43,255,0,0.9);
	box-shadow: 0px 0px 50px 10px rgba(43,255,0,0.9);
}

.laser {
	background-color: orange;
	-webkit-box-shadow:0px 0px 50px 10px rgba(255,191,0,0.9);
	-moz-box-shadow: 0px 0px 50px 10px rgba(255,191,0,0.9);
	box-shadow: 0px 0px 50px 10px rgba(255,191,0,0.9);
}

.boom {
	background-color: red;
	-webkit-box-shadow:0px 0px 50px 15px rgba(255,46,46,0.9);
	-moz-box-shadow: 0px 0px 50px 15px rgba(255,46,46,0.9);
	box-shadow: 0px 0px 50px 15px rgba(255,46,46,0.9);
}